body {
    color: #d5e3ff;
    background-image: url(images/gradientblue.jpg);
    background-repeat: repeat-x;
    font-family: Verdana, Arial, sans-serif;
}

header  {
    color: #ffffff;
     background-color: #000066;
		 background-repeat: no-repeat;
		 background-position: center;
		 background-image: url(images/bigfish.gif);
}

header, nav, main, footer {
  display: block;
}

h1 {
    font-size: 3em;
    line-height: 150%;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #cccccc;
}

nav  {
  float: left;
  font-weight: bold;
  height: 25px;
  width: 150px;
}

nav ul {
    list-style-type: none;
  }
nav ul li a {
    text-decoration: none;
}
nav a:link {
  color: #3262a3;
}
nav a:hover {
  color: #cccccc;
}
nav  a:visited {
  color: #6699ff;
}

.category {
  font-weight: bold;
  background-color: #ffffff;
  color: #003366;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px #666;
}

footer  {
  margin-left: 180px;
  padding: 10px;
	font-size: .70em;
}
video {
    	float: right;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
	padding-botton: 5px;
}

main  {
  margin-left: 180px;
  padding-right: 20px;
	padding-bottom: 20px;
}
#wrapper {
  margin: 0 auto;
  width: 80%;
	background-color: #ffffff;
	color: #000066;
}
